alembic==1.19.2
    # via -r requirements.in
annotated-doc==0.0.5
    # via fastapi
annotated-types==0.8.0
    # via pydantic
anyio==4.15.1
    # via starlette
click==8.5.0
    # via uvicorn
fastapi==0.141.1
    # via -r requirements.in
greenlet==3.5.5 ; platform_machine == 'AMD64' or platform_machine == 'WIN32' or platform_machine == 'aarch64' or platform_machine == 'amd64' or platform_machine == 'ppc64le' or platform_machine == 'win32' or platform_machine == 'x86_64'
    # via sqlalchemy
h11==0.16.0
    # via uvicorn
idna==3.19
    # via anyio
mako==1.4.1
    # via alembic
markupsafe==3.0.3
    # via mako
pydantic==2.13.5
    # via
    #   -r requirements.in
    #   fastapi
pydantic-core==2.46.5
    # via pydantic
sqlalchemy==2.0.52
    # via
    #   -r requirements.in
    #   alembic
starlette==1.6.0
    # via
    #   -r requirements.in
    #   fastapi
typing-extensions==4.16.0
    # via
    #   alembic
    #   anyio
    #   fastapi
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   typing-inspection
typing-inspection==0.4.4
    # via
    #   fastapi
    #   pydantic
uvicorn==0.52.4
    # via -r requirements.in
qrcode==8.2
colorama==0.4.6 ; sys_platform == "win32"
pillow==12.3.0
python-multipart==0.0.32
argon2-cffi==25.1.0
    # via -r requirements.in
argon2-cffi-bindings==26.1.0
    # via argon2-cffi
cffi==2.1.1
    # via argon2-cffi-bindings
pycparser==3.0
    # via cffi
google-auth==2.58.0
    # via -r requirements.in
cryptography==50.0.1
    # via google-auth
pyasn1==0.6.4
    # via pyasn1-modules
pyasn1-modules==0.4.2
    # via google-auth
requests==2.34.2
    # via -r requirements.in
urllib3==2.8.0
    # via requests
charset-normalizer==3.5.1
    # via requests